Workspace/LogicAppCiCd/Stateful1/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "actions": {
            "Response": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": 200,
                    "body": "Hi @{body('Parse_JSON')?['name']} you are welcome to LogicApp"
                },
                "runAfter": {
                    "Upload_blob_to_storage_container": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Parse_JSON": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@triggerBody()",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "name": {
                                "type": "string"
                            }
                        }
                    }
                },
                "runAfter": {}
            },
            "Upload_blob_to_storage_container": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "containerName": "logicapps",
                        "blobName": "@{utcNow('yyyy-MM-dd-HH-mm-ss')}.txt",
                        "content": "Hi @{body('Parse_JSON')?['name']} from local"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureBlob",
                        "operationId": "uploadBlob",
                        "serviceProviderId": "/serviceProviders/AzureBlob"
                    }
                },
                "runAfter": {
                    "Parse_JSON": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "outputs": {},
        "triggers": {
            "When_an_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http"
            }
        }
    },
    "kind": "Stateful"
}